{{#if addNewAnswer}}
  <h1>New Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="tag">Type of Questions:</label>
        {{input value=tag id="tag"}}
      </div>

      <div class="form-group">
        <label for="author">Author:</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="date">Date</label>
        {{input value=date id="date"}}
      </div>

      <div class="form-group">
        <label for="content">Answers:</label>
        {{input value=content id="content"}}
      </div>

      <button {{action 'saveAnswer1'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'answerFormShow'}}>Add New Answer</button>
{{/if}}
