{{#if editQuestionForm}}
<h1>Edit Question</h1>
<div>
  <form>
    <div class="form-group">
      <label for="tag">Type of Questions:</label>
      {{input value=tag id="tag"}}
    </div>

    <div class="form-group">
      <label for="author">Author:</label>
      {{input value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="date">Date</label>
      {{input value=date id="date"}}
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      {{textarea cols="80" rows="6" value=content id="content" placeholder=question.content}}
    </div>

    <button {{action 'edit1' question}}>Edit</button>
  </form>
</div>
{{else}}
  <button {{action 'editQuestionForm'}}>Edit</button>
{{/if}}
